body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.container {
    margin-top: 50px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 400px !important;
}
h1 {
    text-align: center; 
}
.form-container {
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    width: 550px !important;
}
.btn-login {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #514094;
    color: white;
    margin-bottom: 5px;
}
.btn-login:hover {
    background-color: #7361bb;
}
.btn-register {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #94b051; 
    color: white;
    margin-top: 0px;
}
.btn-register:hover, .btn-confirm:hover {
    background-color: #6c813b;
}
.btn-confirm {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #94b051; 
    color: white;
}
footer {
    background-color: #514094;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}